/* bootstrap navigation translation */
@import "../bower_components/bootstrap/less/bootstrap.less";

.topNav {
  .navbar;
//  .navbar-default;
  .navbar-inverse;
  li.active > a,
  li.active > a:hover,
  li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
  }
}

.navContainer {
  .container-fluid;
}

.navHeader {
  .navbar-header;
}

.navToggle {
  .navbar-toggle;
}

.navbarCollapse {
//  .collapse;
  .navbar-collapse;
}

.navbarBrand {
  .navbar-brand;
}

.navbarNav {
  .nav;
  .navbar-nav;
}