lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
.idea

node_modules
public

src/controllers/_controllers.js
src/services/_services.js
src/partials/_templates.js
src/bower_components
src/styles/*.css
