<div>
   <h2>Welcome to the team!</h2>
   <h2>Setup for Brand NEW Machines</h2>

   <ol>
      <li><b>Shared Workspace</b> (&amp; Notifications):
         <ul><li>Create a <a href='https://slack.com/'>Slack</a> account</li>
            <li>Slack Workspace: <a href="https://proridium.slack.com/">https://proridium.slack.com/</a></li>
            <li>Install the appropriate client for build notifications (Mac [<a href='https://itunes.apple.com/us/app/slack/id803453959?mt=12'>iTunes</a> or <a href='http://slack.com/ssb/download-osx'>Direct</a>], <a href='https://chrome.google.com/webstore/detail/slack/jeogkiiogjbmhklcnbgkdcjoioegiknm?hl=en-US'>Chrome</a>, <a href='https://play.google.com/store/apps/details?id=com.Slack&amp;hl=en'>Android</a> &amp; <a href='https://itunes.apple.com/us/app/slack-team-communication/id618783545?mt=8'>iOS</a>)</li></ul></li>
      <li><p><b>Server</b>: We use <a href='http://nodejs.org/'>NodeJS</a>.</p>

         <ul><li><a href='http://nodejs.org/download/'>Download</a> and install it. Please make sure it is in the path.</li>
            <li>Confirm that it is installed property.
               <pre><code>node --version</code></pre></li></ul></li>
      <li><p><b>Local Source Control</b>: We use a  <a href='http://git-scm.com/'>git</a></p>

         <ul><li>Download <a href='http://git-scm.com/downloads'>Git</a> and install it.</li>
            <li>Confirm that it is installed property.
               <pre><code>git --version</code></pre></li>
            <li>Follow the <a href='https://help.github.com/articles/set-up-git/'>setup</a> instructions.</li></ul></li>
      <li><b>Source Control Host</b>: We use <a href='https://github.com/'>GitHub</a> to host our files in a private repository.
         <ul><li>Create a <a href='https://github.com/'>GitHub</a> account if you do not already have one.</li>
            <li>Use <a href=' - https://help.github.com/articles/about-two-factor-authentication/'>Two-Factor authentication</a></li></ul></li>
      <li><b>Tying Local &amp; Remote Source Control</b>:
         <ul><li><a href='https://help.github.com/articles/set-up-git'>Setup your local git</a> installation for use with GitHub
            <ul><li>including <a href='https://help.github.com/articles/set-up-git#next-steps-authenticating-with-github-from-git'>authentication</a></li></ul></li>
            <li>Optional: Install a Git Client on your desktop
               <ul><li><a href='https://mac.github.com/'>GitHub for Mac</a></li>
                  <li><a href='https://windows.github.com/'>GitHub for Windows</a></li>
                  <li><a href='http://www.git-tower.com/'>Tower2 for Mac</a> *I use this one.</li>
                  <li><a href='http://www.sourcetreeapp.com/'>SourceTree</a> for Windows or Mac</li></ul></li></ul></li>
      <li><b>Get Permissions</b>:
         <ul><li>Send your GitHub &amp; slack account login names to me: shartzog@gmail.com so I can add you to the team.</li></ul></li>
      <li><b>Prepare the Code for Dev</b>: Start with our default project template and add it to your github account.
         <ul><li>Wait for my email saying you have access to our source on GitHub</li>
            <li>Open the <a href='https://github.com/proridium/web'>template repo</a> on github</li>
            <li><a href='https://help.github.com/articles/fork-a-repo/'>Fork</a> it</li></ul></li>
      <li><b>Dev Environment</b>: <a href='https://www.jetbrains.com/webstorm/download/'>Install</a> WebStorm</li>
   </ol>

   <h2>Project Setup (Terminal):</h2>

   <ol>
      <li><b>npm init</b>: This will install all of the node package requirements, then install/download the client dependencies with bower.</li>
      <li><b>npm start</b>: This should install: Express, Browserify, LiveReload, Gulp, Angular, AngularStrap, AngularUI Router, etc. This will then run the <b>gulp init</b> command for you.
         ** <b>npm run bump</b>: This will bump the patch version up a number.</li>
   </ol>

   <h2>WebStorm Setup:</h2>

   <ol>
      <li><b>Configure a Node.js App</b> (<a href='http://blog.jetbrains.com/webstorm/2014/05/guide-to-node-js-development-with-webstorm/'>Guide to Node.js Development with WebStorm</a>):
         <ul><li><a href='https://www.jetbrains.com/webstorm/webhelp/running-and-debugging-node-js.html#Node.js_run'>Create a node Configuration</a></li></ul></li>
      <li><b>Get the Code</b>:
         <ul><li><a href='https://www.jetbrains.com/webstorm/webhelp/using-github-integration.html'>Configure</a> WebStorm for use with GitHub.</li>
            <li><a href='https://www.jetbrains.com/webstorm/webhelp/installing-updating-and-uninstalling-repository-plugins.html'>Enable the GitHub bundled plugin</a> to get access to GitHub integration.</li>
            <li><a href='https://www.jetbrains.com/webstorm/webhelp/registering-github-account-in-webstorm.html'>Register your GitHub account</a> in WebStorm.</li>
            <li><a href='https://www.jetbrains.com/webstorm/webhelp/cloning-a-repository-from-github.html'>Clone your GitHub forked repo</a> of the web repo.</li></ul></li>
   </ol>
</div>